@import "../../styles/mixin.module.scss";

.wrapper {
  position: sticky;
  top: 0;
  left: 0;
  display: flex;
  background-color: navy;
  justify-content: space-between;
  align-items: center;
  color: white;
  font-size: 25px;
  padding: 10px;
  .title {
    display: flex;
    align-items: center;
    img {
      width: 60px;
      height: 60px;
    }
  }
}
